@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 0 0% 17%;
    --bg-secondary: 0 0% 23%;
    --label: 60 0% 52%;
    --label-grey: 0 0% 80%;
    --text: 0 0% 100%;
    --action: 266 100% 67%;
    --success: 135 59% 49%;
    --danger: 359 100% 61%;
    --warning: 48 100% 50%;
  }

  body {
    @apply bg-bg text-text;
  }
}

@layer components {
  .hero-grid {
    display: grid;
    grid-template-areas:
      'heading'
      'card'
      'button'
      'stats';
  }

  @media (min-width: 768px) {
    .hero-grid {
      grid-auto-flow: dense;
      justify-items: start;
      align-items: start;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas:
        'heading card'
        'button  card'
        'stats   card';
    }
  }
}
