@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins/PoppinsRegular.woff2') format('woff2'),
		url('/assets/fonts/Poppins/PoppinsRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
